<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="container">
        <div class="row items-center">
            <div class="col">
                <div>
                    <h2><b><strong>Blog Sistemi</strong></b></h2>
                </div>
                
            </div>
            <div class="col">
                <div>
                    <h5><b>Özellikler</b></h5>
                    <div class="row">
                        <div class="col-sm">
                            <div class="m-2 d-flex items-center">
                                <svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" class="mr-2 inline-block flex-shrink-0"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.6248 16.6031C13.2096 16.6031 16.9264 12.8864 16.9264 8.30156C16.9264 3.71674 13.2096 0 8.6248 0C4.03998 0 0.323242 3.71674 0.323242 8.30156C0.323242 12.8864 4.03998 16.6031 8.6248 16.6031Z" fill="#D0A567"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M7.4075 11.3114L4.77753 8.6814L5.83703 7.62189L7.4075 9.18485L11.2999 5.3L12.3594 6.35951L7.4075 11.3114Z" fill="white"></path></svg>
                                <div>Sınırsız Blog Yazısı</div>
                            </div>
                            <div class="m-2">
                                <svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" class="mr-2 inline-block flex-shrink-0"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.6248 16.6031C13.2096 16.6031 16.9264 12.8864 16.9264 8.30156C16.9264 3.71674 13.2096 0 8.6248 0C4.03998 0 0.323242 3.71674 0.323242 8.30156C0.323242 12.8864 4.03998 16.6031 8.6248 16.6031Z" fill="#D0A567"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M7.4075 11.3114L4.77753 8.6814L5.83703 7.62189L7.4075 9.18485L11.2999 5.3L12.3594 6.35951L7.4075 11.3114Z" fill="white"></path></svg>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="m-2">
                                <svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" class="mr-2 inline-block flex-shrink-0"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.6248 16.6031C13.2096 16.6031 16.9264 12.8864 16.9264 8.30156C16.9264 3.71674 13.2096 0 8.6248 0C4.03998 0 0.323242 3.71674 0.323242 8.30156C0.323242 12.8864 4.03998 16.6031 8.6248 16.6031Z" fill="#D0A567"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M7.4075 11.3114L4.77753 8.6814L5.83703 7.62189L7.4075 9.18485L11.2999 5.3L12.3594 6.35951L7.4075 11.3114Z" fill="white"></path></svg>
                            </div>
                            <div class="m-2">
                                <svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" class="mr-2 inline-block flex-shrink-0"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.6248 16.6031C13.2096 16.6031 16.9264 12.8864 16.9264 8.30156C16.9264 3.71674 13.2096 0 8.6248 0C4.03998 0 0.323242 3.71674 0.323242 8.30156C0.323242 12.8864 4.03998 16.6031 8.6248 16.6031Z" fill="#D0A567"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M7.4075 11.3114L4.77753 8.6814L5.83703 7.62189L7.4075 9.18485L11.2999 5.3L12.3594 6.35951L7.4075 11.3114Z" fill="white"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <img src="./assets/post.svg" alt="post">
            </div>
            <div class="col">
                <img src="./assets/post.svg" alt="post" class="bg-secondary">
            </div>
        </div>
    </div>
</body>
</html>