<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.component.scss">
    
</head>
<body>
    <div class="container navbar">
        <div class="row">
            <div class="col">
                <img src="../../assets/image.jpg" alt="logo" class="h-8 xl:h-16 w-auto logo">
            </div>
        </div>
        
        <div class="row justify-between ">
            <ul class="list-unstyled d-flex m-0 p-0 flex-row">
                <li class="p-1 navbar-items px-4 avantajlar">Avantajlar</li>
                <li class="p-1 navbar-items px-4 ozellikler">Özellikler</li>
                <li class="p-1 navbar-items px-4 temalar">Temalar</li>
                <li class="p-1 navbar-items px-4 sss">S.S.S.</li>
                <a href="" style="text-decoration: none;">
                    <li class="align-items-center d-flex p-1 ms-3 navbar-items border border-warning bg-warning text-white px-5 satin-al">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                        </svg>
                        <div class="ms-2">Satın Al</div>
                </li>
                </a>
                

            </ul>
        </div>

    </div>
</body>
</html>