<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body class="bg-warning-subtle">
    <div class="container">
        <div class="col justify-content-md-center flex-row items-center text-center d-flex align-items-center gap-5 pt-3">
            <div class="">
                <p class="">ÖN ÖDEMELİ YILLIK SATIN ALIMLARDA %5 İNDİRİM</p>
            </div>
            <div class="">
                <p>İNDİRİM KODU:</p>
            </div>
        </div>
    </div>
</body>
</html>