<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col">
                    <h2><b><strong>Ve daha bir çok özellik Netger Avukat’ta!
                    </strong></b></h2>
                </div>
                <div class="col">
                    Netger Avukat’ın sahip olduğu onlarca özellik sayesinde hukuk büronuz hakketiği internet sitesine kavuşacak. 
                    Netger Sürekli Destek hizmetimiz ile birlikte internet sitenizin yönetiminde size yardımcı oluyor ve ihtiyaçlarınıza yönelik özellikler geliştiriyoruz.
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col m-3">
                <div class="border-top border-warning-subtle border-4 shadow pe-5 pt-5 pb-5 ps-3">
                    <div class="d-flex mb-4 align-items-center items-center gap-1">
                        <div class="d-flex items-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-square-fill" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
                            </svg>
                        </div>
                        <div class="d-flex items-center text-center">
                            Ücretsiz
                        </div>
                    </div> 
                    <h3 class="mb-4">
                        Netger A.Ş. Güvencesi
                    </h3> 
                    <p class="lh-lg">
                        <i>İnternet sitem kapandı, internet sitemi yaptırdım ama yapan kişiye ulaşamıyorum sorunlarına son! Deneyimli ekibi ve kurumsal kimlik ile <b>Netger A.Ş.</b> Netger Avukat hizmetinde sürekli yanınızda!</i>
                    </p>
                </div>
            </div>
            <div class="col m-3">
                <div class="border-top border-warning-subtle border-4 shadow pe-5 pt-5 pb-5 ps-3">
                    <div class="d-flex mb-4 align-items-center items-center gap-1">
                        <div class="d-flex items-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-square-fill" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
                            </svg>
                        </div>
                        <div class="d-flex items-center text-center">
                            Ücretsiz
                        </div>
                    </div> 
                    <h3 class="mb-4">
                        Netger Sürekli Destek Hizmeti
                    </h3> 
                    <p class="lh-lg">
                        <i>Web sitesi hizmetinizle ilgili hem içerik hem teknik konularda kurumsal muhatap bulacak, web sitenizin yönetiminde yalnız olmadığınızı hissedeceksiniz.</i>
                    </p>
                </div>
            </div>
            <div class="col m-3">
                <div class="border-top border-warning-subtle border-4 shadow pe-5 pt-5 pb-5 ps-3">
                    <div class="d-flex mb-4 align-items-center items-center gap-1">
                        <div class="d-flex items-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-square-fill" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
                            </svg>
                        </div>
                        <div class="d-flex items-center text-center">
                            Ücretsiz
                        </div>
                    </div> 
                    <h3 class="mb-4">
                        İnternet Sitesi Yönetimi
                    </h3> 
                    <p class="lh-lg">
                        <i>İnternet sitenize eklemek/çıkarmak istediğiniz içeriklerle zaman harcamak istemiyorsanız bize bildirin, ekibimiz gereken düzenlemeleri yapsın.</i>
                        
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m-3">
                <div class="border-top border-warning-subtle border-4 shadow pe-5 pt-5 pb-5 ps-3">
                    <div class="d-flex mb-4 align-items-center items-center gap-1">
                        <div class="d-flex items-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-square-fill" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
                            </svg>
                        </div>
                        <div class="d-flex items-center text-center">
                            Prestij Paket
                        </div>
                    </div> 
                    <h3 class="mb-4">
                        Randevu Talebi
                    </h3> 
                    <p class="lh-lg">
                        <i>Müvekkilleriniz veya sizi yeni keşfeden muhataplarınız kolaylıkla randevu talebinde bulunabilirler.</i>
                    </p>
                </div>
            </div>
            <div class="col m-3">
                <div class="border-top border-warning-subtle border-4 shadow pe-5 pt-5 pb-5 ps-3">
                    <div class="d-flex mb-4 align-items-center items-center gap-1">
                        <div class="d-flex items-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-square-fill" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
                            </svg>
                        </div>
                        <div class="d-flex items-center text-center">
                            Prestij Paket
                        </div>
                    </div> 
                    <h3 class="mb-4">
                        Avukata Sor
                    </h3> 
                    <p class="lh-lg">
                        <i>İnternet sitenizi ziyaret eden kişiler hukuki konularda sorularını kolaylıkla size iletebilirler.</i>
                    </p>
                </div>
            </div>
            <div class="col m-3">
                <div class="border-top border-warning-subtle border-4 shadow pe-5 pt-5 pb-5 ps-3">
                    <div class="d-flex mb-4 align-items-center items-center gap-1">
                        <div class="d-flex items-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-square-fill" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
                            </svg>
                        </div>
                        <div class="d-flex items-center text-center">
                            Ücretsiz
                        </div>
                    </div> 
                    <h3 class="mb-4">
                        İletişim Formu
                    </h3> 
                    <p class="lh-lg">
                        <i>Ziyaretçileriniz doğrudan iletişim sayfası üzerinden form ile sizinle kolaylıkla iletişime geçebilir.</i>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m-3">
                <div class="border-top border-warning-subtle border-4 shadow pe-5 pt-5 pb-5 ps-3">
                    <div class="d-flex mb-4 align-items-center items-center gap-1">
                        <div class="d-flex items-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-square-fill" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
                            </svg>
                        </div>
                        <div class="d-flex items-center text-center">
                            Prestij Paket
                        </div>
                    </div> 
                    <h3 class="mb-4">
                        Kariyer Sayfası
                    </h3> 
                    <p class="lh-lg">
                        <i>Sizinle birlikte çalışmak veya staj yapmak isteyen kişilerin başvurularını kolayca alın.</i>
                    </p>
                </div>
            </div>
            <div class="col m-3">
                <div class="border-top border-warning-subtle border-4 shadow pe-5 pt-5 pb-5 ps-3">
                    <div class="d-flex mb-4 align-items-center items-center gap-1">
                        <div class="d-flex items-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-square-fill" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
                            </svg>
                        </div>
                        <div class="d-flex items-center text-center">
                            Ücretsiz
                        </div>
                    </div> 
                    <h3 class="mb-4">
                        Arama Motoru (SEO) Uyumlu

                    </h3> 
                    <p class="lh-lg">
                        <i>Web siteniz arama motorlarının kriterlerine uygun tasarlanır. Bu sayede web siteniz arama sonuçlarında üst sıralarda yer alabilir.</i>
                    </p>
                </div>
            </div>
            <div class="col m-3">
                <div class="border-top border-warning-subtle border-4 shadow pe-5 pt-5 pb-5 ps-3">
                    <div class="d-flex mb-4 align-items-center items-center gap-1">
                        <div class="d-flex items-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-square-fill" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
                            </svg>
                        </div>
                        <div class="d-flex items-center text-center">
                            Ücretsiz
                        </div>
                    </div> 
                    <h3 class="mb-4">
                        Mobil Uyumlu
                    </h3> 
                    <p class="lh-lg">
                        <i>İnternet siteniz her türlü masaüstü, table ve mobil ekran boyutlarında en ideal şekilde görüntülenir.</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>