<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="./assets/appointment.png" alt="">
            </div>
            <div class="col">
                <h2><p><b><strong>Randevu Sistemi</strong></b></p></h2>
                <br>
                <div class="h-1 rounded bg-secondary w-8"></div>
                <div class="space-y-4 leading-7 mt-10"><p>
                    Netger Avukat, hukuk büronuzda çalışan avukatların internet siteniz üzerinden randevu talebi almasına imkan sağlar.
                  </p> <p>
                    Müvekkilleriniz internet siteniz aracılığıyla hukuk büronuzdaki avukatlardan randevu talebinde bulunabilir.
                  </p></div>
            </div>
        </div>
    </div>
</body>
</html>