<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div>
    <app-above></app-above>
  </div>  
  <app-navbar class="px-4"></app-navbar>
    <div class="pt-5"><app-first class=""></app-first></div>
    <app-second></app-second>
    <div class="mt-5 pt-5"><app-third></app-third></div>
    <div class="mt-5 pt-5"><app-fourth></app-fourth></div>
    <div class="mt-5 pt-5"><app-fifth></app-fifth></div>
    <div class="mt-5 pt-5"><app-sixth></app-sixth></div>
    <div class="mt-5 pt-5"><app-seventh></app-seventh></div>
    <div class="bg-secondary mt-4">Bu app component</div>
</body>
</html>